{% extends "layout.html" %}
{% block content %}
    <form method="post">
        <fieldset style="background-color: lightgray; border: 2px solid black; border-radius: 10px; width: fit-content;">
            <legend style="background-color: black; color: white; font-size: 24px; border-radius: 10px; padding: 5px;">Nuevo Producto</legend>
            {{ nuevoProd.csrf_token }}
            <p>
                {{ nuevoProd.nombre.label }}
                {{ nuevoProd.nombre(size = 30) }}
            </p>
            <p>
                {{ nuevoProd.descripcion.label }}
                {{ nuevoProd.descripcion(size = 30) }}
            </p>
            <p>
                {{ nuevoProd.precio_kg.label }}
                {{ nuevoProd.precio_kg(size = 30) }}
            </p>
            <p>
                {{ nuevoProd.peso_kg.label }}
                {{ nuevoProd.peso_kg(size = 30) }}
            </p>
            <p>
                {{ nuevoProd.marca.label }}
                {{ nuevoProd.marca(size = 30) }}
            </p>
            <p>
                {{ nuevoProd.enviar() }}
            </p>
        </fieldset>
    </form>
{%endblock%}