{% extends "layout.html" %}
{% block content %}
    <form method="post">
        <fieldset>
            <legend>Actualizar Producto</legend>
            {{ editarProd.csrf_token }}
            <div>
                {{ editarProd.nombre.label }}
                {{ editarProd.nombre(size = 30) }}
            </div>
            <div>
                {{ editarProd.descripcion.label }}
                {{ editarProd.descripcion(size = 30) }}
            </div>
            <div>
                {{ editarProd.precio_kg.label }}
                {{ editarProd.precio_kg(size = 30) }}
            </div>
            <div>
                {{ editarProd.peso_kg.label }}
                {{ editarProd.peso_kg(size = 30) }}
            </div>
            <div>
                {{ editarProd.marca.label }}
                {{ editarProd.marca(size = 30) }}
            </div>
            <div>
                {{ editarProd.enviar() }}
            </div>
        </fieldset>
    </form>
{%endblock%}