{% extends "layout.html" %}

{% block content %}
<fieldset style="display: block; width: fit-content;">
    <img id="picture" src="data:image/png;base64,{{ imagen }}" alt="Avatar" style="width: 200px; max-height: 200px; ">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="color: blue; background-color: azure; width: fit-content; padding: 5px;">
        {% for m in messages %}
        {{ m }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div>
        <a href="#" onclick="ObtenerToken()"><button>Cambiar Foto De Perfil</button></a>
    </div>
</fieldset>
<script>
    function ObtenerToken(){
        window.location.href = "/uploadImage?token=" + localStorage.getItem("token")
    } 
</script>
{% endblock %}