{% extends "layout.html" %}

{% block content %}
<div style="display: block;" align="center">
    <fieldset style="background-color: azure; display: block; width: fit-content; text-align: center;">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 52px;">Página Principal</h1>
        <h2 style="color: #10D10A">Bienvenido A Verdulería <b style="color: green;">El Jonnhy</b></h2>
    </fieldset>
</div>
<fieldset style="background-color:azure;">
    <legend>Menu</legend>
    
</fieldset>
{% endblock %}