{% extends "layout.html" %}
{% block content %}
<h1>Main page</h1>
<a href="#" onclick="cargarImagen()">Perfil</a>
<fieldset>
    <legend>Menu</legend>
    <div>
        <a href="/producto"><button>Productos</button></a>
    </div>
    <br>
    <div>
        <a href="/venta"><button>Venta</button></a>
    </div>
    <br>
    <div>
        <a href="/usuarios"><button>Usuarios</button></a><!--Botón que solo se muestre para los Admins-->
    </div>
</fieldset>
<script>
    function cargarImagen(){
        window.location.href='/displayImage?token='+localStorage.getItem('token')
    }
</script>
{% endblock %}