{% extends "layout.html" %}
{% block content %}
    <form method="post">
        <fieldset style="background-color: lightgray; border: 2px solid black; border-radius: 10px; width: fit-content;">
            <legend style="background-color: black; color: white; font-size: 24px; border-radius: 10px; padding: 5px;">Nueva Venta</legend>
            {{ nuevaVenta.csrf_token }}
            <p>
                {{ nuevaVenta.id_producto.label }}
                {{ nuevaVenta.id_producto }}
            </p>
            <p>
                {{ nuevaVenta.nombre_cliente.label }}
                {{ nuevaVenta.nombre_cliente(size = 30) }}
            </p>
            <p>
                {{ nuevaVenta.cantidad.label }}
                {{ nuevaVenta.cantidad(size = 30) }}
            </p>
            <p>
                {{ nuevaVenta.precio_total.label }}
                {{ nuevaVenta.precio_total(disabled = true) }}
            </p>
            <p>
                {{ nuevaVenta.encargado.label(id = "labelEncargado") }}
                {{ nuevaVenta.encargado(id = "txtEncargado")}}
            </p>
            <p>
                {{ nuevaVenta.enviar() }}
            </p>
        </fieldset>
    </form>
{%endblock%}