{% extends "layout.html" %}
{% block content %}
    <form method="post">
        <fieldset>
            <legend>Nueva Venta</legend>
            {{ nuevaVenta.csrf_token }}
            <div>
                {{ nuevaVenta.id_producto.label }}
                {{ nuevaVenta.id_producto }}
            </div>
            <div>
                {{ nuevaVenta.nombre_cliente.label }}
                {{ nuevaVenta.nombre_cliente(size = 30) }}
            </div>
            <div>
                {{ nuevaVenta.cantidad.label }}
                {{ nuevaVenta.cantidad(size = 30) }}
            </div>
            <div>
                {{ nuevaVenta.precio_total.label }}
                {{ nuevaVenta.precio_total(disabled = true) }}
            </div>
            <div>
                {{ nuevaVenta.enviar() }}
            </div>
        </fieldset>
    </form>
{%endblock%}