{% extends "layout.html" %}
{% block content %}
    <form method="post">
        <fieldset>
            <legend>Actualizar Venta</legend>
            {{ editarVenta.csrf_token }}
            <div>
                {{ editarVenta.id_producto.label }}
                {{ editarVenta.id_producto }}
            </div>
            <div>
                {{ editarVenta.nombre_cliente.label }}
                {{ editarVenta.nombre_cliente(size = 30) }}
            </div>
            <div>
                {{ editarVenta.cantidad.label }}
                {{ editarVenta.cantidad(size = 30) }}
            </div>
            <div>
                {{ editarVenta.precio_total.label }}
                {{ editarVenta.precio_total(disabled = true) }}
            </div>
            <div>
                {{ editarVenta.enviar() }}
            </div>
        </fieldset>
    </form>
{% endblock %}