{% extends "layout.html" %}
{% block content %}
    <h1>VENTAS</h1>
    <table border = "1px" style="background-color: aliceblue;">
        <thead>
            <tr>
                <td colspan="7" style="padding: 5px;">
                    <a href="{{url_for('appVenta.Agregar')}}" align = "center">
                        <button style="display: block; width:100%; height: 40px;">Agregar Venta</button>
                    </a>
                </td>
            </tr>
            <tr>
                <th>ID</th>
                <th>ID Producto</th>
                <th>Cliente</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for v in ventas %}
            <tr>
                <td>{{v.id}}</td>
                <td>{{v.id_producto}}</td>
                <td>{{v.nombre_cliente}}</td>
                <td>{{v.cantidad}}</td>
                <td>{{v.precio_total}}</td>
                <td><a href="/venta/edit/{{v.id}}"><button>Editar</button></a></td>
                <td><a href="/venta/delete/{{v.id}}"><button>Eliminar</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}