body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../fondo_login.jpg');  /* Ruta relativa a la carpeta static */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}