body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../fondo_login.jpg');  /* Ruta relativa a la carpeta static */
    background-size:cover;
    background-position: center;
    height: fit-content;
    background-repeat:repeat-y;
    background-attachment: fixed;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #111;
    display: grid;
    justify-content: center;
    vertical-align: middle;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: 'op1 op2 op3 op4 op5 op6 op7 op8 op9 op10';
    width: 100%;
}

/* #sidebar1 {
    margin: 10px;
    justify-content: left;
}
#sidebar2 {
    margin: 10px;
    justify-content: right;
} */

.sidebar #imgLogo {
    grid-area: op1;
}
.sidebar #optUser {
    grid-area: op2;
}
.sidebar #optProd {
    grid-area: op3;
}
.sidebar #optVent {
    grid-area: op4;
}
.sidebar #Prov {
    grid-area: op5;
}
.sidebar #optFotoPerfil {
    grid-area: op9;
}
.sidebar #logoff {
    grid-area: op10;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sidebar a:hover {
    color: #F1F1F1;
    background-color: darkgray;
    font-size: 22px;
    font-weight: 800;
}

/* .sidebar .empty {
    padding-left: 48%;
} */

.content {
    margin: 20px;
    padding: 20px;
}