<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP GESTORA</title>
</head>
<body>
    <h1>APP GESTORA</h1>
    <ul>
        <li><a href="lista_maestros">Listado de Maestros</a></li>
        <li><a href="lista_asignaturas">Listado de Asignaturas</a></li>
        <li><a href="lista_clases">Listado de Clases</a></li>
        <li><a href="lista_alumnos">Listado de Alumnos</a></li>
        <li><a href="lista_calificaciones">Listado de Calificaciones</a></li>
        <li><a href="lista_eventos">Listado de Eventos</a></li>
    </ul>
</body>
</html>
