<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>
                <a href="{% url 'webapp:detalle_producto' producto.id %}">Ver Detalle</a> |
                <a href="{% url 'webapp:editar_producto' producto.id %}">Editar</a> |
                <a href="{% url 'webapp:eliminar_producto' producto.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'webapp:crear_producto' %}">Agregar Producto</a>
</body>
</html>
